.toolbar{
    text-align: left;
    width: 1000px;
    padding-bottom: 2px;
}
.toolbar .option{
    margin-right: 15px;
}
.toolbar .option .caption{
    font-size: 14px;
}
.toolbar .table-filter-fields, .toolbar .table-filter-range{
    display: none;
    font-size: 13px;
}
.toolbar item.table-filter-range {
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}
.container-box{
    overflow: hidden;
    border: 1px solid black;
    height: 700px;
    width: 1000px;
}
.table{
    display: none;
}
.chart{
    height: calc(100% - 0px);
    width: 100%;
    display: none;
}
.chart input{
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-top: 40px;
    appearance: slider-horizontal;
    color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
    cursor: default;
    padding: initial;
    border: initial;
    margin: 2px;
}
.top-countries{
    font-size: 17px;
    font-weight: bold;
}

.country-list{
    display: none;
    position: absolute;
    height: 300px;
    width: 300px;
    right: 300px;
    background: #f2f2f2;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
}
.country-list label{
    display: block;
    width: calc(100% - 20px);
    padding: 4px 10px;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
}
.country-list label input{
    position: absolute;
    right: 7px;
    top: 6px;
    width: 20px;
}
.country-list .btn-apply-country-sel{
    width: 100%;
    color: #2424ed;
    position: sticky;
    z-index: 9;
    top: 0;
    height: 25px;
}

.tree-chart rect {
    stroke-width: 0.5px;
    stroke: #958d8d;
}

.pause-text{
    display: none;
}
.progress-container{
    width: 100%;
}
.progress{
    display: grid;
    grid-template-columns: 50px calc(100% - 50px);
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
}

.btn-control{
    padding: 0;
}

.progress input{
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.country {
    stroke-width: 1;
    stroke: darkslategrey;
    fill: white;
    transition: all 0.25s ease-in-out;
}

.country:hover {
    cursor: pointer;
    fill: #555555;
}


button {
    background: transparent;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 4px 16px;
    transition: all 0.25s ease-in-out;
}

button:hover {
    cursor: pointer;
    border: 1px solid darkgray;
}

.d3-tip {
    position: absolute;
    text-align: left;
    min-width: 60px;
    transition: opacity 0.25s ease-in-out;
    min-height: 28px;
    padding: 8px 12px;
    font: 12px sans-serif;
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    pointer-events: none;
}


 /* area chart */
 .area {							
    fill: url(#area-gradient);					
    stroke-width: 0px;			
}

g.area-y-axis text {
    display: none;
}

  /* table */
  .table{
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  .table tr{
    display: grid;
    grid-template-columns: 10% 12% 12% 12% 12% 11% 11% 10% 10%;
    border-bottom: 1px solid #e5e5e5;
    font-size: 13px;
    padding: 3px 5px;
  }
  .table tr:first-child{
      position: sticky;
      top: 0;
      background: #ccc;
      font-weight: bold;
  }
  .table tr td.ta-right{
      text-align: right;
      padding-right: 7px;
  }
  .table tr td i{
    display: none;
  }
  .table tr:first-child td i{
    display: inline-block;
    font-size: 15px;
    position: absolute;
    margin-top: 1px;
    cursor: pointer;
  }


/* line chart */

.line {
    fill: none;
}

.y-axis-label {
    fill: black;
    font-size: 1.4em;
    text-anchor: middle;
    transform: rotate(-90deg);
}
