.toolbar{
    text-align: left;
    width: 1000px;
    padding-bottom: 2px;
}
.toolbar .option{
    margin-right: 15px;
}
.toolbar .option .caption{
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
}
.container-box{
    overflow: hidden;
    border: 1px solid black;
    height: 700px;
    width: 1000px;
}

.country {
    stroke-width: 1;
    stroke: darkslategrey;
    fill: white;
    transition: all 0.25s ease-in-out;
}

.country:hover {
    cursor: pointer;
    fill: #555555;
}


button {
    background: transparent;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 4px 16px;
    transition: all 0.25s ease-in-out;
}

button:hover {
    cursor: pointer;
    border: 1px solid darkgray;
}

.d3-tip {
    position: absolute;
    text-align: left;
    min-width: 60px;
    transition: opacity 0.25s ease-in-out;
    min-height: 28px;
    padding: 8px 12px;
    font: 12px sans-serif;
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    pointer-events: none;
}
  